{% extends 'base.html' %}

{% block content %}
<div>
    <form method="post" class="card" novalidate>
        {% csrf_token %}
        <h2 class="text-center">Log in to  your account</h2>
        {% for field in form %}
        <div class="text-center mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <small>{{ field.errors|striptags }}</small>
            {% endif %}
        </div>
        {% endfor %}

        <input type="submit" value="Login" class="btn btn-primary">
    </form>
</div>
{% endblock content %}